{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [ "transform-runtime", "transform-decorators-legacy", "react-require" ],
  "comments": false,
  "env": {
    "test": {
      "presets": [ "env", "react", "stage-0" ],
      "plugins": [ "istanbul" ]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
