{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "react",
    "stage-0"
  ],
  "plugins": ["transform-decorators-legacy", "react-require"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
